@font-face {
    font-family: Arctika;
    src: url('Arctika Script/Arctika Script.otf');
}

@font-face {
    font-family: burgerFlame;
    src: url('Burger King Flame/Flame-Bold.otf');
}

@font-face {
    font-family: Domino;
    src: url('Domino/Domino BoId Italic.otf');
}

.arctika {
    font-family: Arctika;
}

.burgerFlame {
    font-family: burgerFlame;
}

.domino {
    font-family: Domino;
}
