.header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vh;

    .headerStyle {
        font-size: 70px;
        color: #023047;
        @media (max-width: 768px) {
            font-size: 40px;
        }
    }

    .guapStyle {
        font-family: Calibri;
        font-size: 35px;
        background: linear-gradient(45deg, rgba(0, 90, 169, 1) 0%, rgba(228, 45, 112, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 auto;
        font-weight: bold;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
}
